/* line 1, ../scss/mainstyle.scss */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
/* -----------------------------------------------
  HEADER
----------------------------------------------- */
.logo {
  width: 15%;
}

.menu {
  display: inline-block;
  font-size: 22px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.page_item {
  margin-left: 50px;
}
