/* line 1, ../scss/mainstyle.scss */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: url("../image/pixel_weave.png");
}

body,
html {
  font-family: 'Exo', sans-serif;
}

main {
  background-color: #273d4f;
}

.bleu {
  color: #273d4f;
}

.rouge {
  color: #e54d66;
}

.vert {
  color: #41bca0;
}
/* -----------------------------------------------
  HEADER
----------------------------------------------- */
header{

  margin: 0 auto;
  padding: 1.25rem 1.25rem 0 1.25rem;
  min-width: 320px;
  max-width: 80%;
  background-color: white;
  clear: both;

}
.logo {
  max-width: 15%;
  padding: 2rem;
}

.menu {
  display: inline-block;
  font-size: 22px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu a {
  color: #273d4f;
}
.page_item {
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid #273d4f;
}

.menu ul:last-child {
  border-right: 1px solid #273d4f;
}

.lien_association{
  font-size: 2.5em;
  float: right;
}

/* -----------------------------------------------
  INDEX
----------------------------------------------- */

section {
 width: 100%;
}

.index_content {
  margin: 0 auto;
  min-height: 600px;
  min-width: 320px;
  max-width: 80%;
}

.banniere img{
  width: 100%;
}

.bloc_bleu {
  padding: 5em;
  background-color : #273d4f;
}

.presentation {

  background-color : #273d4f;
  border: solid 20px #41bca0;
  display: flex;

}

.text_presentation {
  padding: 1em;
  max-width: 50%;
}

.img_association {
 width: 50%;
}

.img_association img {
  width:100%;
}

.text_presentation {
  color: #41bca0;
  font-size: 1.3em;
}

.bloc_blanc {
  padding: 2em;
  background-color: white;
}

.wrapper {
  max-width:100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper h2 {
  text-decoration: underline #41bca0;
  font-size: 2.5em;
}

.wrapper p {
  font-size: 1.2em;
}

.wrapper_gauche {
  text-align: left;
}

.wrapper_centre img {
  max-width: 100%;
}

.wrapper_droite {
  text-align: right;
}


/* -----------------------------------------------
  Page membres
----------------------------------------------- */
.bloc_membres {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.wrapper_profile {
  width: 300px;
  margin: 1%;
  text-align: center;
  font-size: 1.2em;
}

.wrapper_profile span {
  font-weight: bolder;
}
.profile {
  padding: 10px;
  background-color: #41bca0;
  color: white;
}

.profile img {
  width: 100%;
}

.info {
  padding-top: 5px;
  text-align: left;
}

.liens {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}

/* -----------------------------------------------
  FOOTER
----------------------------------------------- */

footer {
  background-color: #273d4f;
  text-align: center;
  padding: 1.25rem 0 1.25rem 0;
  min-height: 350px;
}

footer h4 {
  color: #41bca0;
  font-size: 3em;
  text-align: center;
  padding: 1.25rem 0 1.25rem 0;
}

footer p,
h1,
i {
  color: white;
  font-size: 2.25rem;
}

footer a {
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

footer p a {
  color: #e54d66;
}

.footer_mail {
  margin-bottom: 3rem;
}

.footer_mention {
  margin-top: 8rem;
}
