/* line 1, ../scss/mainstyle.scss */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Exo', sans-serif;
}

main {
  background-color: #273d4f;
}

.bleu {
  color: #273d4f;
}

.rouge {
  color: #e54d66;
}

.vert {
  color: #41bca0;
}
/* -----------------------------------------------
  HEADER
----------------------------------------------- */
header{
  width: 90%;
  margin: auto;

}
.logo {
  width: 15%;
}

.menu {
  display: inline-block;
  font-size: 22px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu a {
  color: #273d4f;
}
.page_item {
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid #273d4f;
}

.menu ul:last-child {
  border-right: 1px solid #273d4f;
}

.lien_association{
  font-size: 2.5em;
  float: right;
}

/* -----------------------------------------------
  INDEX
----------------------------------------------- */

.banniere img{
  width: 100%;
}

.bloc_bleu {
  padding: 5em;
  background-color : #273d4f;
}

.presentation {
  width:100%;
  background-color : #273d4f;
  border: solid 20px #41bca0;
  display: flex;
  width: 100%;
}

.text_presentation {
  padding: 1em;
}

.img_association img {

}

.text_presentation {
  color: #41bca0;
  font-size: 1.3em;
}

.bloc_blanc {
  padding: 5em;
}

.wrapper {
  width:100%;
  display: flex;
  align-items: center;
}

.wrapper h2 {
  text-decoration: underline #41bca0;
  font-size: 2.5em;
}

.wrapper p {
  font-size: 1.7em;
}

.wrapper_gauche {
  text-align: right;

}

.wrapper_droite {
  text-align: left;
}

.bloc_bleu h4 {
  color: #41bca0;
  font-size: 3em;
  text-align: center;
}

.bloc_bleu a {
  text-align: center;
}

/* -----------------------------------------------
  Page membres
----------------------------------------------- */
.bloc_membres {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.wrapper_profile {
  width: 300px;
  margin: 1%;
  text-align: center;
  font-size: 1.2em;
}

.wrapper_profile span {
  font-weight: bolder;
}
.profile {
  padding: 10px;
  background-color: #41bca0;
  color: white;
}

.profile img {
  width: 100%;
}

.info {
  padding-top: 5px;
  text-align: left;
}

.liens {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}
